@font-face{
    font-family: 'MiNuevaFuente7';
    src: url('FancyPants.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
}
.container{
    display: flex;
    flex-flow: column wrap;
    background-color: #28c56a;
    min-height: 100vh;
}
.container>*{
    flex: 1;
}
.container .header
.container .footer{
    flex: 1 0 auto;

}

.menu ul{
   display: flex;
   flex-direction: column;    
   background: rgb(65, 21, 21);
   
}.menu ul li{
    list-style-type: none;
    padding: 0.8rem 1rem;
}
.menu ul li a{

    color: white;
    text-decoration: none; 
    display: block;  
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;

}
 .menu ul li:hover{
    background-color: #e54529;
}
#toggle{
    display: none;
}
@media only screen and (max-width:800px){


label{
  cursor: pointer;  
  font-size: 26px;
  width: 26px;
  margin: 1px 10px 0 0;
  font-weight: 500;
  background: #dad6d6;
}
.menu
{ display: none;
}
#toggle:checked + .menu {
    display: block;
}
}
@media only screen and (min-width:800px){
    .menu ul {
         flex-direction: row;
        justify-content: space-between;
    }
    .menu ul li{
        position: relative;
        flex:1 0 auto;
        text-align: left;

    }
    label{
        display: none;
    }
}
div.logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 15px;
}
img{
    max-width: 100%;
    height:auto;
}
.section{
    text-align:center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font: bold 20px 'MiNuevaFuente7';

}
.main img{
    border:3px solid black;
    padding:10px;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
div.secundario{
    align-self: center;
    padding: 0.5em;
    width: 60%;
    background-color: #018FC6;
    color: white;
    font-size: 10px;
    border-radius:15px;
}
.main.secundario{
    padding: 0.5em;
    margin-bottom: 0.2em;
}
.footer{
    background-color: black;
    color: white;
    display: flex;  
    flex-wrap: nowrap;  
    justify-content: space-between;
    margin-top: 0.2em;
    padding-top: 0.2em;
    height: auto;
    align-items: center;
}
.item4{
    font-size: 60%;
}








